

#areas {
    display: table;
    /*clear: both;*/
}

div {
    float: left;    
}

header {
    background-color:dimgrey;
    color: white;
}

h1 {
    margin: 0;
    padding-bottom: 5px;
}

#bank {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    width: 200px;
    height: 275px;
    background-color: darkgrey;
}

#balanceContainer {
    display: flex;
    justify-content:space-between;
    width: 200px;
}
#buttonAreaBank {
    display: flex;
    justify-content: center;
}

#loanContainer {
    display: none;
    justify-content:space-between;
    width: 200px;
}

#loanButton {
    display: center;
    height: 20px;
    
}

#work {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    width: 200px;
    height: 275px;
    background-color:azure;
}

#repayButton {
    display: none;
}

#payContainer {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#laptopsArea {
    width: 200px;
    height: 275px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    background-color: darkgrey;
}

#buyingArea {
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
    width: 775px;
    background-color: azure;
}